<main>

    <!-- Sticky Header -->
    <section>
        <div class="w-100 position-relative">
            <div class="fixed-bg"></div>
            <div class="container">
                <div class="page-title text-center w-100">
                    <h1 class="mb-0" style="opacity: 0;">Social Media Marketingh1></h1>
                </div>
                <!-- Page Title -->
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html" title=""><i class="icon_house"></i></a></li>
                    <li class="breadcrumb-item"><a href="portfolio.html" title="">Portfolio</a></li>
                    <li class="breadcrumb-item active">SOCIAL MEDIA MARKETING</li>
                </ol>
                <!-- Breadcrumb -->
            </div>
        </div>
    </section>
    <section>
        <div class="w-100 pt-155 pb-120 position-relative">
            <div class="container">
                <div class="port-detail-wrap text-center w-100">
                    <div class="port-detail-inner d-inline-block">
                        <span class="d-block">Product Mockup</span>
                        <h2 class="mb-0">SOCIAL MEDIA & <br> MARKETING</h2>
                        <p class="mb-0">Social media is considered the second-most effective form of digital marketing, yet more than one-third of businesses have no social media presence at all. This is largely due to small businesses not having the time or resources
                            to invest in social media marketing. To eradicate this, We’ve designed our packages according to business types, also we offer customised packages as per your need.</p>
                    </div>
                </div>
                <!-- Portfolio Detail Wrap -->
            </div>

            <div class="container mt-5">
                <h4 class="text-center">Education is the most powerful weapon which you can use to change the world</h4>
                <div class="port-detail-img2 ">
                    <div class="row">
                        <owl-carousel-o [options]="customOptions" style="width: 100%;">
                            <ng-template carouselSlide> <div >
                            <a class="d-block mt-20" href="" target="_blank" title=""><img class="img-fluid w-100" src="assets/Education-20220315T045233Z-001/Education/aami-04-01.jpg" alt="Portfolio Detail Image 1"></a>


                        </div></ng-template>
                        <ng-template carouselSlide class="ml-2"><div >
                            <a class="d-block mt-20" href="" target="_blank" title=""><img class="img-fluid w-100" src="assets/Education-20220315T045233Z-001/Education/EA04.jpg" alt="Portfolio Detail Image 2"></a>

                        </div></ng-template>
                        <ng-template carouselSlide class="ml-2"><div >
                            <a class="d-block mt-20" href="" target="_blank" title=""><img class="img-fluid w-100" src="assets/Education-20220315T045233Z-001/Education/Edu-18-11.jpg" alt="Portfolio Detail Image 3"></a>

                        </div></ng-template>
                        <ng-template carouselSlide class="ml-2">  <div >
                            <a class="d-block mt-20" href="" target="_blank" title=""><img class="img-fluid w-100" src="assets/Education-20220315T045233Z-001/Education/FB_IMG_1627105771533.jpg" alt="Portfolio Detail Image 2"></a>

                        </div></ng-template>
                        <ng-template carouselSlide class="ml-2">  <div >
                            <a class="d-block mt-20" href="" target="_blank" title=""><img class="img-fluid w-100" src="assets/Education-20220315T045233Z-001/Education/Jan 2022-01.jpg" alt="Portfolio Detail Image 3"></a>
                        </div></ng-template>
                        <ng-template carouselSlide class="ml-2"> <div >
                            <a class="d-block mt-20" href="" target="_blank" title=""><img class="img-fluid w-100" src="assets/Education-20220315T045233Z-001/Education/WhatsApp Image 2022-03-12 at 12.06.10 PM.jpeg" alt="Portfolio Detail Image 3"></a>
                        </div></ng-template>
                        <ng-template carouselSlide class="ml-2"> <div >
                            <a class="d-block mt-20" href="" target="_blank" title=""><img class="img-fluid w-100" src="assets/Education-20220315T045233Z-001/Education/WhatsApp Image 2022-03-14 at 12.41.12 PM.jpeg" alt="Portfolio Detail Image 3"></a>
                        </div></ng-template>
                    </owl-carousel-o>
                    </div>
                </div>

            </div>


            <div class="container mt-5">
                <h4 class="text-center">Food is symbolic of love when words are inadequate</h4>
               
                <div class="port-detail-img2 ">
                    <div class="row">
                        <owl-carousel-o [options]="customOptions1" style="width: 100%;">
                            <ng-template carouselSlide> <div >
                            <a class="d-block mt-20" href="" target="_blank" title=""><img class="img-fluid w-100" src="assets/Food-20220315T051053Z-001/Food/18.jpg" alt="Portfolio Detail Image 1"></a>


                        </div></ng-template>
                        <ng-template carouselSlide class="ml-2"><div >
                            <a class="d-block mt-20" href="" target="_blank" title=""><img class="img-fluid w-100" src="assets/Food-20220315T051053Z-001/Food/3.jpg" alt="Portfolio Detail Image 2"></a>

                        </div></ng-template>
                        <ng-template carouselSlide class="ml-2"><div >
                            <a class="d-block mt-20" href="" target="_blank" title=""><img class="img-fluid w-100" src="assets/Food-20220315T051053Z-001/Food/WhatsApp Image 2022-03-14 at 12.41.11 PM (1).jpeg" alt="Portfolio Detail Image 3"></a>

                        </div></ng-template>
                        <ng-template carouselSlide class="ml-2">  <div >
                            <a class="d-block mt-20" href="" target="_blank" title=""><img class="img-fluid w-100" src="assets/Food-20220315T051053Z-001/Food/WhatsApp Image 2022-03-14 at 12.41.11 PM.jpeg" alt="Portfolio Detail Image 2"></a>

                        </div></ng-template>
                        <ng-template carouselSlide class="ml-2">  <div >
                            <a class="d-block mt-20" href="" target="_blank" title=""><img class="img-fluid w-100" src="assets/Food-20220315T051053Z-001/Food/WhatsApp Image 2022-03-14 at 12.41.12 PM (1).jpeg" alt="Portfolio Detail Image 3"></a>
                        </div></ng-template>
                        <ng-template carouselSlide class="ml-2"> <div >
                            <a class="d-block mt-20" href="" target="_blank" title=""><img class="img-fluid w-100" src="assets/Food-20220315T051053Z-001/Food/WhatsApp Image 2022-03-14 at 12.41.14 PM.jpeg" alt="Portfolio Detail Image 3"></a>
                        </div></ng-template>
                        <ng-template carouselSlide class="ml-2"> <div >
                            <a class="d-block mt-20" href="" target="_blank" title=""><img class="img-fluid w-100" src="assets/Food-20220315T051053Z-001/Food/WhatsApp Image 2022-03-14 at 12.41.15 PM (2).jpeg" alt="Portfolio Detail Image 3"></a>
                        </div></ng-template>
                    </owl-carousel-o>
                    </div>
                </div>

            </div>

            <div class="container mt-5">
                <h4 class="text-center">A good laugh and a long sleep are the best cures in the doctor's book.</h4>
               
                <div class="port-detail-img2 ">
                    <div class="row">
                        <owl-carousel-o [options]="customOptions2" style="width: 100%;">
                           
                        <ng-template carouselSlide class="ml-2"><div >
                            <a class="d-block mt-20" href="" target="_blank" title=""><img class="img-fluid w-100" src="assets/Health-20220315T051613Z-001/Health/0-3 CTS 2022.jpg" alt="Portfolio Detail Image 3"></a>

                        </div></ng-template>
                        <ng-template carouselSlide class="ml-2">  <div >
                            <a class="d-block mt-20" href="" target="_blank" title=""><img class="img-fluid w-100" src="assets/Health-20220315T051613Z-001/Health/WhatsApp Image 2022-03-14 at 12.41.16 PM (1).jpeg" alt="Portfolio Detail Image 2"></a>

                        </div></ng-template>
                        <ng-template carouselSlide class="ml-2">  <div >
                            <a class="d-block mt-20" href="" target="_blank" title=""><img class="img-fluid w-100" src="assets/Health-20220315T051613Z-001/Health/WhatsApp Image 2022-03-14 at 12.41.18 PM.jpeg" alt="Portfolio Detail Image 3"></a>
                        </div></ng-template>
                        <ng-template carouselSlide class="ml-2"> <div >
                            <a class="d-block mt-20" href="" target="_blank" title=""><img class="img-fluid w-100" src="assets/Health-20220315T051613Z-001/Health/WhatsApp Image 2022-03-14 at 12.50.30 PM.jpeg" alt="Portfolio Detail Image 3"></a>
                        </div></ng-template>
                        <ng-template carouselSlide class="ml-2"> <div >
                            <a class="d-block mt-20" href="" target="_blank" title=""><img class="img-fluid w-100" src="assets/Health-20220315T051613Z-001/Health/WhatsApp Image 2022-03-14 at 12.50.31 PM.jpeg" alt="Portfolio Detail Image 3"></a>
                        </div></ng-template>
                    </owl-carousel-o>
                    </div>
                </div>

            </div>

            <div class="container mt-5">
                <h4 class="text-center">Let food be thy medicine and medicine be thy food ~ Hippocrates</h4>
               
                <div class="port-detail-img2 ">
                    <div class="row">
                        <owl-carousel-o [options]="customOptions2" style="width: 100%;">
                           
                        <ng-template carouselSlide class="ml-2"><div >
                            <a class="d-block mt-20" href="" target="_blank" title=""><img class="img-fluid w-100" src="assets/Organic-20220315T052504Z-001/Organic/Green Amrut 20.jpg" alt="Portfolio Detail Image 3"></a>

                        </div></ng-template>
                        <ng-template carouselSlide class="ml-2">  <div >
                            <a class="d-block mt-20" href="" target="_blank" title=""><img class="img-fluid w-100" src="assets/Organic-20220315T052504Z-001/Organic/WhatsApp Image 2022-03-14 at 12.41.15 PM (1).jpeg" alt="Portfolio Detail Image 2"></a>

                        </div></ng-template>
                        <ng-template carouselSlide class="ml-2">  <div >
                            <a class="d-block mt-20" href="" target="_blank" title=""><img class="img-fluid w-100" src="assets/Organic-20220315T052504Z-001/Organic/WhatsApp Image 2022-03-14 at 12.41.15 PM.jpeg" alt="Portfolio Detail Image 3"></a>
                        </div></ng-template>
                        
                    </owl-carousel-o>
                    </div>
                </div>

            </div>



        </div>
    </section>

    <!-- Footer -->
</main>
<!-- Main Wrapper -->